@use "../../../../shared/styles/base";
@use "../../../../shared/styles/variables";
@use "../../../../shared/styles/reset";
@use "../../../../shared/styles/components";

.ingredientsList {
  @include reset.resetList;
}

.ingredient {
  @include base.flexCenter;
  padding: 1em;
  margin-top: 1.25em;
  border-radius: 10px;
  border: 1.5px solid variables.$gray;
  span {
    width: 100%;
  }
}

.changed {
  border-color: variables.$green;
  font-weight: base.getFontWeight(bold);
}

.empty {
  border-color: variables.$lightGray;
  * {
    font-weight: base.getFontWeight(light);
  }
}

.quantity {
  white-space: nowrap;
  strong {
    margin-right: 1.5em;
  }
  button {
    @extend %changeQuantityButton;
    @include base.setSize(1.25em);
    font-size: 1.25em;
    margin-right: 0.25em;
  }
}
