@use "../../shared/styles/reset";
@use "../../shared/styles/base";
@use "../../shared/styles/components";

.cart {
  ul {
    @include reset.resetList;
  }
}

.goBack {
  @include base.setPosition(absolute, "topLeft", 1em);
  color: #000;
  text-decoration: none;
  border-bottom: 1px solid #000;
  span {
    font-size: 1.25em;
  }
}

.title {
  margin: 1.5em 0;
}

.makeOrderButton {
  @extend %longBigButton;
  font-size: 1.25em;
  width: 25em;
}
