@use "variables";

@mixin prefix($property, $value, $prefixes: ()) {
  @each $prefix in $prefixes {
    @if not index(variables.$prefixes, $prefix) {
      @error "#{$prefix} is not a valid prefix. Expected one of #{variables.$prefixes}.";
    }
    #{'-' + $prefix + '-' + $property}: $value;
  }

  #{$property}: $value;
}

@mixin flexCenter($direction: row) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: $direction;
}

@mixin setSize($width, $height: $width, $radius: 0) {
  width: $width;
  height: $height;

  @if ($radius != 0) {
    border-radius: $radius;
  }
}

@mixin setPosition($type, $position, $value1: 0, $value2: $value1) {
  position: $type;
  @if not index(variables.$positions, $position) {
    @error "#{$position} is not a valid position. Expected one of #{variables.$positions}.";
  }
  @if ($position == "topLeft") {
    top: $value1;
    left: $value2;
  }
  @if ($position == "topRight") {
    top: $value1;
    right: $value2;
  }
  @if ($position == "bottomLeft") {
    bottom: $value1;
    left: $value2;
  }
  @if ($position == "bottomRight") {
    bottom: $value1;
    right: $value2;
  }
}

@function getFontWeight($name) {
  @return map-get(variables.$fontWeights, $name);
}
