$lightGray: #ebedf0;
$gray: #dddbdb;
$darkGray: #757878;

$lightGreen: #e8f7f4;
$green: #95e5d7;
$darkGreen: #00a082;

$fontWeights: (
  "light": 300,
  "regular": 400,
  "medium": 500,
  "bold": 600,
);

$positions: ("topLeft", "topRight", "bottomLeft", "bottomRight");

$prefixes: "webkit", "moz", "ms", "o";
