@import "../../shared/styles/base";

.burgersList {
  @include resetList;
  display: flex;
  flex-flow: row wrap;
}

.burger {
  @include setSize(15em, 20em);
  cursor: pointer;
  margin: 0 0 1em 1.5em;
  img {
    @include setSize(100%, auto);
  }
}

.burgerName {
  display: block;
  margin-top: 1.25em;
  font-size: 1.25em;
}
