@use "../../shared/styles/base";
@use "../../shared/styles/reset";
@use "../../shared/styles/variables";

.burgersList {
  @include reset.resetList;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22.5em, 1fr));
  gap: 1.5em;
}

.burger {
  width: 100%;
  display: flex;
  flex-flow: row;
  cursor: pointer;
  border-radius: 8px;
  padding: 0.75em 0.25em;
  transition: transform 0.5s;
  border: 1.5px solid variables.$gray;
  &:hover {
    transform: translateY(-5px);
  }
}

.burgerImage {
  @include base.setSize(7.5em, auto);
  margin-top: 0.25em;
}

.burgerInfo {
  width: 100%;
  text-align: start;
  font-size: 1.125em;
  margin-left: 0.5em;
}
