@use "../../../shared/styles/base";
@use "../../../shared/styles/variables";

$buttonSize: calc(2em + 0.5vw);
$buttonMargin: 1.5em;

@keyframes popOut {
  from {
    top: -25%;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.modalWrapper {
  @include base.setSize(100%);
  @include base.flexCenter;
  @include base.setPosition(fixed, "topLeft");
  background-color: rgb(255, 200, 86, 0.9);
}

.modal {
  position: relative;
  border-radius: 12px;
  animation: popOut 0.25s;
  background-color: #ffffff;
}

.closeModalButton {
  @include base.setPosition(absolute, "topLeft", $buttonMargin);
  @include base.setSize($buttonSize);
  cursor: pointer;
  border-radius: 50%;
  background-color: transparent;
  border: 2.5px solid variables.$lightGray;
  &:hover {
    background-color: variables.$lightGray;
  }
  &:active {
    background-color: variables.$darkGray;
    border-color: variables.$darkGray;
  }
  img {
    @include base.setSize(60%);
  }
}
