@use "../../shared/styles/base";
@use "../../shared/styles/components";

.header {
  @include base.flexCenter;
  justify-content: space-between;
  height: 7em;
  padding: 0 7.5%;
  box-shadow: 0 2px 5px 2px #fafafa;
  * {
    @include base.flexCenter;
  }
}

.logo {
  @include base.setSize(4.5em);
}

.cart {
  position: relative;
  img {
    @include base.setSize(4em);
  }
  em {
    text-align: center;
    font-weight: base.getFontWeight("medium");
    font-size: 1.25em;
  }
}
