@import "../../shared/styles/base";

.modalWrapper {
  @include setSize(100%, 100%);
  @include flexCenter;
  top: 0;
  left: 0;
  position: fixed;
  background-color: rgb(0, 0, 0, 0.5);
}

.modal {
  position: relative;
  padding: 2em;
  border-radius: 12px;
  @include setSize(60em, auto);
  max-width: 90%;
  background-color: #ffffff;
}

.burgerImage {
  max-width: 100%;
  height: auto;
}

.goBackButton {
  position: absolute;
  cursor: pointer;
  img {
    @include setSize(2em, auto);
  }
}

.ingredientsList {
  @include resetList;
  display: flex;
  flex-flow: row wrap;
  align-content: space-between;
  justify-content: space-between;
}
