@import "../shared/styles/base";

.header {
  @include flexCenter;
  justify-content: space-between;
  height: 7em;
  padding: 0 7.5%;
  box-shadow: 0 2px 5px 2px #fafafa;
  * {
    @include flexCenter;
  }
}

.logo {
  @include setSize(4.5em);
}

.cart {
  position: relative;
  img {
    @include setSize(4em);
  }
  em {
    text-align: center;
    font-weight: getFontWeight("medium");
    font-size: 1.25em;
  }
}

.badge {
  position: absolute;
  top: -10px;
  left: -10px;
  min-width: 1.75em;
  height: 1.75em;
  color: white;
  padding: 0 0.25em;
  font-size: 0.75em;
  white-space: nowrap;
  border-radius: 10px;
  background-color: #dc004e;
}
