@use "../../../shared/styles/reset";

.burgerImage {
  max-width: 100%;
  height: auto;
}

.ingredientsList {
  @include reset.resetList;
  display: flex;
  flex: 1;
  flex-flow: row wrap;
  li {
    flex-basis: 50%;
  }
}

.quantity {
  input {
    @include reset.resetInput;
  }
}
