@use "../../../shared/styles/base";
@use "../../../shared/styles/variables";
@use "../../../shared/styles/components";

.modalContent {
  @include base.setSize(80vw, 80vh);
  max-width: 75em;
  min-width: 50em;
  > div {
    @include base.setSize(42.5%, 100%);
    float: left;
    padding: 2em;
    display: flex;
    flex-direction: column;
    &::after {
      clear: both;
    }
  }
  .ingredientsDetails {
    width: 57.5%;
    overflow-y: scroll;
    border-right: 2px solid variables.$darkGray;
  }
}

.title {
  margin: 1.5em 0;
}

.burgerName {
  text-align: center;
}

.burgerImage {
  @include base.setSize(100%, auto);
  display: flex;
  margin: 3em 0 2em 0;
  justify-content: center;
  img {
    object-fit: contain;
  }
}

.addToOrder {
  @extend %longBigButton;
  width: 100%;
  margin-top: auto;
  font-size: 1.125em;
}
