.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 5em;
  padding: 1em 2em;
  box-shadow: 0 2px 7px 2px #fafafa;
  margin-bottom: 2.5em;
}

.logo {
  width: 4em;
  height: 4em;
  margin-right: 1.5em;
}

.cart {
  position: relative;
  align-self: center;
  height: 2.5em;
}

.cart img {
  width: 2.5em;
  height: 2.5em;
}

.cart span {
  position: absolute;
  top: -10px;
  left: -10px;
  color: white;
  padding: 0.15em 0.6em;
  font-size: 0.75em;
  white-space: nowrap;
  border-radius: 10px;
  background-color: #dc004e;
}

.header div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.burgersList {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  list-style-type: none;
  padding: 2.5em 10%;
}

.burger {
  width: 15em;
}

.burger img {
  width: 100%;
  height: auto;
}

.burger h3 {
  text-align: center;
}
